.container {
    width: 80%;
    margin: 0 auto;
}

section {
    height: 100vh;    
}

#home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

p.intro {
    font-size: 5em;
    font-family: sans-serif;
    font-weight: bold;
}