.navbar {
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    
    .container {
        display: flex;
        justify-content: space-between;

        li {
            display: inline;
            padding: 0 3vw;
        
            a {
                text-decoration: none;
            }
        }
    }
}
