/*
Citizen Caucus
Author: Ronnie Mosley
Version: 0.0.1
*/
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif; }

button {
  padding: 0; }

a {
  text-decoration: none; }

input {
  padding: 0; }
  input [type=button] {
    border-width: 0;
    padding: 0;
    border: 0; }
  input [type=text] {
    border-width: 0;
    padding: 0;
    border: 0; }

ul li {
  list-style: none; }

img {
  padding: 0;
  margin: 0; }

.navbar > .container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 500px) {
    .navbar > .container {
      width: 90%;
      flex-direction: column;
      margin: 2vh auto; } }

.mp-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 15vh; }
  @media screen and (max-width: 500px) {
    .mp-content {
      flex-flow: column wrap; } }

.senator-cell {
  margin-bottom: 10vh;
  padding: 0 1.5vw;
  display: flex;
  flex-flow: column wrap; }
  @media screen and (max-width: 500px) {
    .senator-cell {
      flex-flow: column wrap;
      padding: 0 20vw; } }
  .senator-cell img {
    border: 1px solid black; }
    .senator-cell img:hover {
      opacity: .8; }

.navbar {
  background: #135575;
  width: 100vw;
  height: 15vh;
  position: fixed;
  top: 0;
  display: flex;
  box-shadow: 1px 0 3px; }

.home {
  font-size: 2em;
  font-weight: bold;
  color: white; }
  .home:hover {
    color: goldenrod; }

a {
  text-decoration: none; }

a.navbar-brand.home {
  color: #fefefe; }
  a.navbar-brand.home:hover {
    color: goldenrod; }

a.senator-cell {
  margin: 2vh 1vw; }

.bio-pic-outter {
  border: black; }

.bio-pic {
  display: flex;
  justify-content: center; }
  .bio-pic a {
    width: 80%;
    border-radius: 5px; }
    .bio-pic a img {
      width: 100%; }
    .bio-pic a:hover {
      opacity: .8s; }

.icon-name {
  display: flex;
  flex-flow: column nowrap;
  color: black;
  text-align: center; }
  .icon-name h2 {
    font-size: 2vh;
    font-weight: lighter;
    margin: 0; }
  .icon-name h3 {
    font-size: 2.5vh;
    margin: 0; }

.myBtn {
  overflow: hidden;
  padding: 0 1.5vw; }

.name {
  display: flex;
  flex-flow: column nowrap; }
  .name:hover {
    background: #c0c0c0c2;
    border-radius: 0 0 10px 10px; }
    .name:hover a {
      color: black; }
      .name:hover a:visited {
        color: black; }

.header {
  background: black;
  height: 45vh;
  display: block;
  padding-top: 8vh; }
  .header .container {
    display: flex;
    flex-direction: row; }

.picture {
  width: 50%;
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .picture img {
    padding: 0;
    margin: 0;
    width: 35%; }

.title {
  width: 50%;
  height: 45vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white; }
  .title h2 {
    font-size: 1.7vh;
    font-weight: lighter;
    margin-top: .5vh; }

.sub-nav {
  width: 100%;
  height: 10vh;
  background: black; }
  .sub-nav a {
    color: white; }
  .sub-nav ul {
    float: right; }
    .sub-nav ul li {
      list-style: none;
      display: inline;
      padding: 1.5vw 2vw;
      font-size: 3vh; }

.contact-info ul {
  margin: 0;
  background: grey;
  width: 20vw;
  float: left; }
  .contact-info ul li {
    margin: 1vh; }

.content-area {
  float: right;
  margin: 0;
  width: 50vw;
  background: purple; }

#search {
  display: flex; }

#search-results {
  display: none; }
  #search-results li {
    display: block;
    padding: 1.5vh 0; }

.search-results {
  background-color: #bebebe;
  margin: 4vh 0px;
  width: 24vw;
  position: absolute; }

.profile-grid {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  width: 100%; }

.sub-menu {
  height: 100%;
  width: 100%;
  background: #bebebe;
  margin: 0; }
  .sub-menu ul {
    list-style: none; }
    .sub-menu ul li {
      font-size: 1.5vw;
      font-weight: 900;
      color: white;
      padding: 15px 0;
      text-decoration: none; }

/*# sourceMappingURL=main.css.map */
